absl-py==0.13.0
astunparse==1.6.3
cached-property==1.5.2
clang==5.0
click==8.0.1
colorama==0.4.4
flatbuffers==1.12
gast==0.4.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
grpcio==1.39.0
h5py==3.1.0
importlib-metadata==4.6.3
joblib==1.0.1
keras==2.6.0
Keras-Preprocessing==1.1.2
mrjob==0.7.4
nltk==3.6.2
opt-einsum==3.3.0
PyYAML==5.4.1
regex==2021.8.3
tensorboard==2.6.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
tqdm==4.62.0
typing-extensions==3.10.0.0
zipp==3.5.0
